* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 2.8rem;
  font-family: 'Pattaya', sans-serif;
  letter-spacing: 0.1rem;
}
li,
button,
label,
input,
p {
  font-size: 1.6rem;
}
h2 {
  font-size: 4.8rem;
  font-weight: 600;
}
h3 {
  font-size: 3rem;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  text-decoration: none;
  color: white;
}
button {
  padding: 1.6rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: background 0.5s ease-in-out;
}
/* Nav Section and Hero */

.main-header {
  background-color: #131c27;
  color: white;
  padding: 0.6rem;
}
nav {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 8vh;
  flex-wrap: wrap;
}
ul {
  display: flex;
  flex: 1 1 30.4rem;
  list-style: none;
  justify-content: space-around;
}
nav h1 {
  flex: 1 1 30rem;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url('./img/landing-page.jpg');
  min-height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem 0;
}
button:hover {
  background: #27394e;
}

/* locations section */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./img/new-york-page.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-header {
  width: 40%;
  margin: 10rem auto auto 5%;
}
.locations-header h2 {
  padding: 1rem 0;
  border-bottom: black solid 0.3rem;
}
.locations-header h3 {
  padding: 4rem 0;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cloud {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.moving-cloud-1 {
  animation: cloud1 ease-in-out 8s infinite alternate;
}
.moving-cloud-2 {
  animation: cloud2 ease-in-out 8s infinite alternate;
  top: 20rem;
  z-index: -1;
  opacity: 0.8;
}
@keyframes cloud1 {
  from {
    transform: translate(10%, -5%);
  }
  to {
    transform: translate(0%);
  }
}
@keyframes cloud2 {
  from {
    transform: translate(15%, -10%);
  }
  to {
    transform: translate(0%);
  }
}

/* benfits */
.benefits-head {
  background-color: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.benefits-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  border-radius: 0 0 1rem 1rem;
  flex: 1 1 25rem;
  min-height: 33vh;
  margin: 2rem 5rem;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2), 0px 2rem 2rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.card h4 {
  padding: 3rem;
}
.card p {
  padding-bottom: 3rem;
}
.cards img {
  height: 10rem;
}
.icon-box {
  width: 100%;
  background-color: #343c44;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

/* media quary */
@media screen and (max-width: 1024px) {
  html {
    font-size: 52%;
  }
  .cloud {
    height: 50rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  html {
    font-size: 46%;
  }
  .cloud {
    height: 30rem;
  }
  .moving-cloud-2 {
    top: 10rem;
  }
  .locations-header {
    width: 80%;
    margin-top: 15rem;
  }
}
